h6{
	color: red;
	border: 1px solid red;
}
img{
	border: 5px solid red;
}
table{
	border: 1px solid black;
}
tr{
	border: 1px solid black;
}
th{
	border: 1px solid black;
}
td{
	border: 1px solid black;
}